
.zorkdown-content {
  margin:1em;
  padding:1em;
  padding-bottom: 4em;

  border:0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.zorkdown-terminal {
  width: 100%;
  height: auto;
  margin:0;
  padding-bottom: 0;
  border: none;
} 

p {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
}

.zorkdown-user-input {
  padding: 0m;
  padding-bottom: 0;
  outline: none;
  border: none;
  font-family: monospace;
  font-size: 14px;
  width: auto;
  min-width: 200px;
}

.zorkdown-user-input::before {
  content: "> ";
}

.zorkdown-user-input:empty::after {
  content: attr(placeholder);
}

.zorkdown-title {
  display: block;
  height: 20px;
  margin-bottom: 2em;
}


